div
  h1 Recipes
  input @change="searchRecipes($event)"
  .tile.is-ancestor
    recipe [
      v-for="(recipe, index) in recipes"
      :key="recipe.id"
      :recipe="recipe"
      @removeRecipe="removeRecipe(index)"
    ]