.autocomplete [
    aria-haspopup="listbox"
    aria-owns="autocomplete-results"
    role="combobox"
    :aria-expanded="isOpen"
  ]
    .control
      input.input [
        aria-autocomplete="list"
        aria-controls="autocomplete-results"
        role="searchbox"
        type="text"
        v-model="search"
        :aria-labelledby="ariaLabelledBy"
        :aria-activedescendant="activedescendant"
        @input="onChange"
        @keydown.down="onArrowDown"
        @keydown.up="onArrowUp"
        @keydown.enter.self="setResult(results[arrowCounter])"
      ]

      ul#autocomplete-results.autocomplete-results [
        role="listbox"
        v-show="isOpen"
      ]
        li.loading v-if="loading" Loading results...
        li.autocomplete-result [
            v-else
            role="option"
            v-for="(result, i) in results"
            :aria-selected="isSelected(i)"
            :class="{ 'is-active': isSelected(i) }"
            @click="setResult(result)"
            :id="getId(i)"
            :key="i"
          ] {{ filterable(result) }}
